{% extends "base.html" %}

{% block content %}

    <h2>Максимальные скидки:</h2>
    <div class="card-group-list row">
        {% for object in objects %}
         <div class="col-sm-4">
            <div class="card w-33" >
                <div class="card-body">
                  <img src="{{ object.link_to_photo }}" class="card-img-top" alt="{{ object.name }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ object.name }}</h5>
                    <p class="card-text">{{ object.cheaper_price }}</p>
                    <p class="card-text">Скидка - {{ object.sale|floatformat:"0" }}</p>
                    <p class="card-title">Действует до - {{ object.sale_promo_date }}</p>
                    <a href="{{ object.link }}" class="btn btn-primary">Купить</a>
                    <a href="{% url 'product-page' object.category.slug object.slug %}" class="btn btn-primary">Просмотреть</a>

                    {% if user.is_authenticated %}
                      {% if object in favourites %}
                        <form action="{% url 'product_bookmark' pk=object.pk %}"  method="post">
                            {% csrf_token %}
                             <button type="submit" name="upvote"><i class="fas fa-heart"></i></button></i>
                        </form>
                      {% else %}

                         <form action="{% url 'product_bookmark' pk=object.pk %}" method="post">
                            {% csrf_token %}
                             <button type="submit" name="upvote"><i class="far fa-heart"></i></button></i>
                        </form>
                      {% endif %}
                    {% endif %}

                  </div>
                </div>
            </div>
         </div>
        {% endfor %}
    </div>

{% endblock %}