
.navbar-brand {
    font-size: 1.50rem;
    margin-right: 30px;
}

.card {
    display: inline-block;
}

.card-img-top {
    size: auto;
}

.card-img-top {
    width: 27%; /* Ширина */
    float: left; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 3.5%; /* Отступ слева */
    background: #f0f0f0; /* Цвет фона */
    border-radius: 5px; /* Радиус скругления */
    padding: 2%; /* Поля */
   }

.pagination div a {
    padding-top: 2px; /* сдвигаем сверху, чтобы background выглядел  правильно */
    width: 25px;
    height: 25px;
    display: block;
}
.pagination .prev a, .pagination .next a {
    /* убираем влияние width:25px из правила .pagination div a */
    width: auto;
}
.pagination div a:hover, .pagination div a.current {
    color: blue;
    /* задний фон для текущий страницы и для наведения */
    background: url("/static/img/select.png") 0 0 no-repeat;
}

.pagination .prev a:hover, .pagination .next a:hover {
    width: auto; /* автоматическая ширина */
    color: #1982d1;
    background: none; /*  убираем задний фон при наведении */
}

.pagination div {
    text-align: center;
    float: left;
    margin: 0 20px 0 0; /* отступ справа */
}

.pagination-block {
    width: 500px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    margin-top: 20px;
   }

.back-button {
    margin-top: 20px;
}

.query-span {
    text-decoration: underline;
}

input.search {
    width: 300px!important;
    margin-right: 6px;
}

.search-form {
    margin-right: 6px;
}
.login {
    margin-right: 6px;
}

.login-preview {
    font-size: medium;
}

main {
    min-height: auto;
}

footer {
    height: 100px;
}

div.detail-card {
    width: 100%;
    height: 80%;
}

.detail-img {
    width: 15%; /* Ширина */
    float: left; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 3.5%; /* Отступ слева */
    background: #f0f0f0; /* Цвет фона */
    border-radius: 5px; /* Радиус скругления */
    padding: 2%; /* Поля */
   }

.old-price {
    text-decoration: line-through;
}